**/*.rs.bk
/backups
/target
/extra
/archives
/resources
/libs
/bin
/Settings.toml
/Settings
/.metadata.json
/.reading-states
/.fat32-epoch
/.thumbnail-previews
/.trash
/css/*-user.css
/hyphenation-patterns
/dictionaries
/fonts
/dist
/bundle
docs/book/
/.cache
/cadmus-*.tar.gz
/plato-*.tar.gz
/plato-*.zip
/thirdparty/*/*
!/thirdparty/*/*kobo*
/thirdparty/**/.source-ready
/thirdparty/**/.built-kobo
/thirdparty/**/.built-native

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.tmp
logs
.workspaces/
**/.fat32-epoch
/node_modules
docs/mermaid.min.js
docs/src/mermaid-images/
crates/core/.sqlx-dev.db
cadmus.sqlite

.idea
.wrangler
.cadmus

.vscode
